#carousel {
    width: 100vw;
}

#carousel > div {
    width: inherit;
    height: 20rem;
    overflow: hidden;
    position: relative;
}

#carousel ul {
    display: flex;
    height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: left 0.7s;
}

#carousel li {
    flex: 0 0 auto;
    height: inherit;
    width: 30rem;
    overflow: hidden;
    margin-right: 3rem;
}

#carousel li:last-child {
    margin-right: 0;
}

#carousel img {
/*    height: inherit;*/
    width: 100%;
    margin: auto;
}

#controls * {
    
}